.sns-list-item {
  display: flex;
  flex-direction: column;
  //border: 1px solid black;

  align-items: center;

  .sns-card {
    &:first-child {
      margin-top: 8px;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
    height: 100%;
    width: 100%;

    //margin-top: 12px;
    width: 50%;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 1px grey;
    .sns-card-header {
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 150%;
      font-weight: bold;
      //margin: 5px;

      .sns-card-title {
        margin-left: 15px;
      }
    }

    .sns-card-body {
      //min-height: 10%;
      min-height: 40px;
      height: fit-content;

      height: 100%;
      width: 100%;

      .sns-card-img-list {
        display: flex;
        height: 100%;
        width: 100%;

        //width: 100%;
        .sns-card-img {
          display: flex;
          // height: 100%;
          // width: 100%;

          object-fit: fill;
        }
      }

      .sns-card-text {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
