.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  flex-direction: column;

  .body-container {
    width: 100%;
    height: 93%;

    display: flex;
    justify-content: center;

    .sns-main {
      height: 100%;
      width: 60%;

      background-color: grey;
    }
  }
}
